@media (min-width: 600px) and (max-width: 1000px) {
  /* .menu  {
        display: flex;
        flex-direction: column;
      }

      .conteudo {
        grid-template-columns: 1fr;
      } */

  .conteudo img {
    object-fit: cover;
    /* Mantém proporção imagem */
    object-position: top right;
  }

  .conteudo-vantagem {
    grid-template-columns: 1fr;
  }

  .subtitulo {
    text-align: center;
  }
}


@media (max-width: 600px) {

  body {
    gap: 30px;
    margin-top: 20px;
  }

  header {
    gap: 30px;
  }

  .conteudo {
    grid-template-columns: 1fr;
  }

  .introducao {
    text-align: left;
    justify-items: start;
  }

  .introducao::before {
    display: none;
  }

  .subtitulo {
    font-size: 3rem;
  }
}

 @media(max-width: 300px) {
   .subtitulo{
    font-size: 1rem;
   }
 }